DATABASE_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require&channel_binding=require&pgbouncer=true&connect_timeout=15"
DIRECT_URL="postgresql://USER:PASSWORD@HOST/neondb?sslmode=require&channel_binding=require&connect_timeout=15"

# NextAuth
NEXTAUTH_URL="https://tu-app.vercel.app"
NEXTAUTH_SECRET="genera-uno-con: openssl rand -base64 32"

# App
NEXT_PUBLIC_APP_URL="https://tu-app.vercel.app"
NEXT_PUBLIC_APP_NAME="FincaApp"
